/* this is the CSS formatting for my resume page hehe */
* {
    font-family: 'Poppins';
}
header{
    text-align: center;
}
.contact{
    background-color: #7791BA;
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}
.container {
    /* border: 2px solid black; */
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;
    
}
.box{
    /* border: 2px solid black; */
    width: 30%;
    height: 30%;
    margin: 5px;
    margin-left: 2vw;
}
h2{
    text-align: center;
}
.one{
    /* border: 2px black dotted; */
    grid-column: 1/5;
}
.two{
    /* background-color: red; */
    width: 40%;
    align-self: center;
    
}
img {
    /* border: black solid 2px; */
    width: 100%;
    height: 100%; 
    /* This needs BOTH the width and height to work. okay?! thanks! */
    object-fit: scale-down;
    border-radius: 5vw;
}
footer {
    text-align: center;
}

/* Navigation */
ul{
    /* border: 1px black solid; */
    justify-content: center;
    display: flex;
    gap: 10px;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
    border-radius: 10px;
}
ul li button{
    border: 0px;
    background-color: #7791BA;
    color: white;
    padding: 20px 20px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}
ul li button:hover{
    background-color: #495b6f;
    padding: 25px 30px;
}
ul li button a{
    color: white;
}