/* This is my CSS file for my Contacts page */
* {
    font-family: 'Poppins';
}
header{
    text-align: center;
}
.container {
    /* border: 2px solid black; */
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;
    
}
.box{
    /* border: 2px solid black; */
    width: 30%;
    height: 30%;
    margin: 5px;
    margin-left: 2vw;
    
}
.one{
    /* border: 2px black dotted; */
    grid-column: 1/5;
}
.two{
    /* background-color: red; */
    width: 40%;
    align-self: center;
    
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5vw;
}
footer {
    text-align: center;
}



/* Contacts */

.contact{
    /* border: 2px black solid; */
    background-color: #7791BA;
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}
.hiiii{
    text-align: center;
}

.a{
    font-weight: bold;
}
.links{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.YT{
    border: 2px solid black;
    width: 30%;
    margin: 5px;
    margin-left: 2vw;
    border-radius: 10px;
}
.IT{
    border: 2px solid black;
    width: 30%;
    margin: 5px;
    margin-left: 2vw;
    border-radius: 10px;
}
.TW{
    border: 2px solid black;
    width: 30%;
    margin: 5px;
    margin-left: 2vw;
    border-radius: 10px;
}

/* Navigation */
ul{
    /* border: 1px black solid; */
    justify-content: center;
    display: flex;
    gap: 10px;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
    border-radius: 10px;
}
ul li button{
    border: 0px;
    background-color: #7791BA;
    color: white;
    padding: 20px 20px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}
ul li button:hover{
    background-color: #495b6f;
    padding: 25px 30px;
}
ul li button a{
    color: white;
}